$C_WHITE: #ffffff;
$C_GREY_E: #eaeaea;
$C_GREY_8: #888888;
$C_GREY_A: #aaaaaa;
$C_GREY_C: #cccccc;
$C_GREY_D: #dddddd;
$C_GREY_9: #999999;
$C_GREY_6: #666666;
$C_RED: #ff3b30;
$C_RED_LIGHTER: #f2adaa;
$C_GREEN: #35c137;
$C_BLACK: #030202;

$C_PRIMARY: #339af0;
$C_PRIMARY_LIGHTER: #a6cded;
$C_SECONDARY: #868e96;
$C_TEXT: #212529;
$C_SUB_TEXT: #495057;

$C_YELLOW: #ffd24d;
$C_YELLOW_LIGHTER: #fff2cc;
$C_BLUE: #2d74ad;
$C_BLUE_LIGHTER: #88a4ba;

$C_HEADER: $C_PRIMARY;
$C_GNB_SELECT: $C_PRIMARY;
$C_DRAWER_SELECT: $C_PRIMARY;
$C_GNB: $C_GREY_9;
$C_GNB_BACKGROUND: $C_WHITE;
$C_DRAWER_UNSELECT: #4aaaaa;
$C_BORDER: $C_GREY_E;
